h1 {
    color: red;
    font-size: 70px;
    text-align: center;
}
body{
    background: linear-gradient(to bottom, blue, rgb(40, 221, 4), rgb(0, 255, 200));
}
img{
    width:200px;
    height: 200px;
}
p{
    font-size: 50px;
}
div{
    display: flex;
    flex-wrap: wrap;
    
}
.texno div{
    margin:7%;
}
.tt{
    width: 230px;
    height: 200px;   
}
